# ❓QUERIES:
## Ejemplos de consultas en nuestra BBDD

**¿Hay más profesores que imparten clase online o presencial?**

In [92]:
'''
SELECT COUNT(c.nombre)
FROM profesor AS g
LEFT JOIN modalidad AS c ON g.id_modalidad = c.id_modalidad
GROUP BY c.nombre
;
'''

'\nSELECT COUNT(c.nombre)\nFROM profesor AS g\nLEFT JOIN modalidad AS c ON g.id_modalidad = c.id_modalidad\nGROUP BY c.nombre\n;\n'

**¿Existen más alumnos en las convocatorias de febrero o de septiembre?**

In [84]:
'''
SELECT
    p.nombre as convocatoria,
    COUNT(*) as total_alumnos
FROM alumnos a
JOIN promocion p ON a.id_promocion = p.id_promocion
WHERE p.nombre IN ('Febrero', 'Septiembre')
GROUP BY p.nombre
ORDER BY total_alumnos DESC;
'''

"\nSELECT\n    p.nombre as convocatoria,\n    COUNT(*) as total_alumnos\nFROM alumnos a\nJOIN promocion p ON a.id_promocion = p.id_promocion\nWHERE p.nombre IN ('Febrero', 'Septiembre')\nGROUP BY p.nombre\nORDER BY total_alumnos DESC;\n"

**¿Hay algún profesor que de clase a FS y DS?**

In [85]:
'''
SELECT EXISTS (
    SELECT 1
    FROM profesor p
    GROUP BY p.nombre_profesor
    HAVING COUNT(DISTINCT p.id_vertical) > 1
) as hay_profesor_multivertical;
'''

'\nSELECT EXISTS (\n    SELECT 1\n    FROM profesor p\n    GROUP BY p.nombre_profesor\n    HAVING COUNT(DISTINCT p.id_vertical) > 1\n) as hay_profesor_multivertical;\n'

**¿Cuántos proyectos aprobó el alumno con el mail: Alejandra_Vilaplana@gmail.com?**

In [86]:
'''
SELECT COUNT(*) as proyectos_aprobados
FROM alumnos a
JOIN evaluacion e ON a.id_alumno = e.id_alumno
WHERE a.email = 'Alejandra_Vilaplana@gmail.com'
  AND e.resultado = 'APTO';
'''

"\nSELECT COUNT(*) as proyectos_aprobados\nFROM alumnos a\nJOIN evaluacion e ON a.id_alumno = e.id_alumno\nWHERE a.email = 'Alejandra_Vilaplana@gmail.com'\n  AND e.resultado = 'APTO';\n"

**¿Cuántos alumnos matriculados en 2024 han suspendido Proyecto_Deployment?**

In [87]:
'''
SELECT COUNT(*) as alumnos_suspendidos_2024
FROM alumnos a
JOIN evaluacion e ON a.id_alumno = e.id_alumno
JOIN proyecto p ON e.id_proyecto = p.id_proyecto
JOIN promocion pr ON a.id_promocion = pr.id_promocion
WHERE p.nombre = 'Proyecto_Deployment'
  AND e.resultado = 'NO APTO'
  AND EXTRACT(YEAR FROM pr.fecha_inicio) = 2024;
'''

"\nSELECT COUNT(*) as alumnos_suspendidos_2024\nFROM alumnos a\nJOIN evaluacion e ON a.id_alumno = e.id_alumno\nJOIN proyecto p ON e.id_proyecto = p.id_proyecto\nJOIN promocion pr ON a.id_promocion = pr.id_promocion\nWHERE p.nombre = 'Proyecto_Deployment'\n  AND e.resultado = 'NO APTO'\n  AND EXTRACT(YEAR FROM pr.fecha_inicio) = 2024;\n"

**Nombres de los Teacher Assistant cuyo nombre empiece por "A":**

In [89]:
'''
SELECT profesor.nombre_profesor,
	profesor.apellido_profesor
FROM profesor
WHERE rol = 'TA'
  AND nombre_profesor ILIKE 'A%';
 '''

"\nSELECT profesor.nombre_profesor,\n\tprofesor.apellido_profesor\nFROM profesor\nWHERE rol = 'TA'\n  AND nombre_profesor ILIKE 'A%';\n "

**Alumnos que han aprobado el Proyecto_EDA en modalidad online:**

In [ ]:
'''
SELECT DISTINCT
  alumnos.id_alumno,
  alumnos.nombre_alumno,
  alumnos.apellido_alumno,
  alumnos.email AS email_alumno,
  proyecto.id_proyecto,
  proyecto.nombre AS nombre_proyecto,
  evaluacion.id_evaluacion,
  evaluacion.resultado,
  modalidad.nombre AS nombre_modalidad
FROM evaluacion
JOIN alumnos
  ON evaluacion.id_alumno = alumnos.id_alumno
JOIN proyecto
  ON evaluacion.id_proyecto = proyecto.id_proyecto
JOIN profesor
  ON profesor.id_vertical = profesor.id_vertical
JOIN modalidad
  ON profesor.id_modalidad = modalidad.id_modalidad
WHERE proyecto.nombre = 'Proyecto_EDA'
AND modalidad.nombre = 'Online'
AND evaluacion.resultado = 'APTO'
ORDER BY alumnos.nombre_alumno, alumnos.apellido_alumno
'''

"\nSELECT DISTINCT\n  alumnos.id_alumno,\n  alumnos.nombre_alumno,\n  alumnos.apellido_alumno,\n  alumnos.email AS email_alumno,\n  proyecto.id_proyecto,\n  proyecto.nombre AS nombre_proyecto,\n  evaluacion.id_evaluacion,\n  evaluacion.resultado,\n  modalidad.nombre AS nombre_modalidad\nFROM evaluacion\nJOIN alumnos\n  ON evaluacion.id_alumno = alumnos.id_alumno\nJOIN proyecto\n  ON evaluacion.id_proyecto = proyecto.id_proyecto\nJOIN profesor\n  ON profesor.id_vertical = profesor.id_vertical -- si existe relación con proyecto, cámbiala aquí\nJOIN modalidad\n  ON profesor.id_modalidad = modalidad.id_modalidad\nWHERE proyecto.nombre = 'Proyecto_EDA'\nAND modalidad.nombre = 'Online'\nAND evaluacion.resultado = 'APTO'\nORDER BY alumnos.nombre_alumno, alumnos.apellido_alumno\n"

**Nombres de los alumnos matriculados en la promoción de febrero:**

In [97]:
'''
SELECT DISTINCT
  profesor.id_profesor,
  profesor.nombre_profesor,
  profesor.apellido_profesor,
	promocion.nombre
FROM alumnos
JOIN promocion
  ON alumnos.id_promocion = promocion.id_promocion
JOIN profesor
  ON promocion.id_campus = profesor.id_campus
WHERE promocion.nombre = 'Febrero'
ORDER BY profesor.apellido_profesor, profesor.nombre_profesor;
'''

"\nSELECT DISTINCT\n  profesor.id_profesor,\n  profesor.nombre_profesor,\n  profesor.apellido_profesor,\n\tpromocion.nombre\nFROM alumnos\nJOIN promocion\n  ON alumnos.id_promocion = promocion.id_promocion\nJOIN profesor\n  ON promocion.id_campus = profesor.id_campus\nWHERE promocion.nombre = 'Febrero'\nORDER BY profesor.apellido_profesor, profesor.nombre_profesor;\n"